<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.AssuranceMapper" >
  <resultMap id="BaseResultMap" type="cn.bf.po.Assurance" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="stuId" property="stuid" jdbcType="VARCHAR" />
    <result column="assureName" property="assurename" jdbcType="VARCHAR" />
    <result column="assureRelation" property="assurerelation" jdbcType="VARCHAR" />
    <result column="isIdentity" property="isidentity" jdbcType="VARCHAR" />
    <result column="isRegister" property="isregister" jdbcType="VARCHAR" />
    <result column="isJob" property="isjob" jdbcType="VARCHAR" />
    <result column="isPhoto" property="isphoto" jdbcType="VARCHAR" />
    <result column="isHouse" property="ishouse" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createUser" property="createuser" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, stuId, assureName, assureRelation, isIdentity, isRegister, isJob, isPhoto, 
    isHouse, comment, createUser, createDate, updateUser, updateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from assurance
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from assurance
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.bf.po.Assurance" >
    insert into assurance (uuid, stuId, assureName, 
      assureRelation, isIdentity, isRegister, 
      isJob, isPhoto, isHouse, 
      comment, createUser, createDate, 
      updateUser, updateDate)
    values (#{uuid,jdbcType=VARCHAR}, #{stuid,jdbcType=VARCHAR}, #{assurename,jdbcType=VARCHAR}, 
      #{assurerelation,jdbcType=VARCHAR}, #{isidentity,jdbcType=VARCHAR}, #{isregister,jdbcType=VARCHAR}, 
      #{isjob,jdbcType=VARCHAR}, #{isphoto,jdbcType=VARCHAR}, #{ishouse,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bf.po.Assurance" >
    insert into assurance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="stuid != null" >
        stuId,
      </if>
      <if test="assurename != null" >
        assureName,
      </if>
      <if test="assurerelation != null" >
        assureRelation,
      </if>
      <if test="isidentity != null" >
        isIdentity,
      </if>
      <if test="isregister != null" >
        isRegister,
      </if>
      <if test="isjob != null" >
        isJob,
      </if>
      <if test="isphoto != null" >
        isPhoto,
      </if>
      <if test="ishouse != null" >
        isHouse,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="assurename != null" >
        #{assurename,jdbcType=VARCHAR},
      </if>
      <if test="assurerelation != null" >
        #{assurerelation,jdbcType=VARCHAR},
      </if>
      <if test="isidentity != null" >
        #{isidentity,jdbcType=VARCHAR},
      </if>
      <if test="isregister != null" >
        #{isregister,jdbcType=VARCHAR},
      </if>
      <if test="isjob != null" >
        #{isjob,jdbcType=VARCHAR},
      </if>
      <if test="isphoto != null" >
        #{isphoto,jdbcType=VARCHAR},
      </if>
      <if test="ishouse != null" >
        #{ishouse,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.Assurance" >
    update assurance
    <set >
      <if test="stuid != null" >
        stuId = #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="assurename != null" >
        assureName = #{assurename,jdbcType=VARCHAR},
      </if>
      <if test="assurerelation != null" >
        assureRelation = #{assurerelation,jdbcType=VARCHAR},
      </if>
      <if test="isidentity != null" >
        isIdentity = #{isidentity,jdbcType=VARCHAR},
      </if>
      <if test="isregister != null" >
        isRegister = #{isregister,jdbcType=VARCHAR},
      </if>
      <if test="isjob != null" >
        isJob = #{isjob,jdbcType=VARCHAR},
      </if>
      <if test="isphoto != null" >
        isPhoto = #{isphoto,jdbcType=VARCHAR},
      </if>
      <if test="ishouse != null" >
        isHouse = #{ishouse,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bf.po.Assurance" >
    update assurance
    set stuId = #{stuid,jdbcType=VARCHAR},
      assureName = #{assurename,jdbcType=VARCHAR},
      assureRelation = #{assurerelation,jdbcType=VARCHAR},
      isIdentity = #{isidentity,jdbcType=VARCHAR},
      isRegister = #{isregister,jdbcType=VARCHAR},
      isJob = #{isjob,jdbcType=VARCHAR},
      isPhoto = #{isphoto,jdbcType=VARCHAR},
      isHouse = #{ishouse,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>