<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.ContractMapper" >
  <resultMap id="BaseResultMap" type="cn.bf.po.Contract" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="stuId" property="stuid" jdbcType="VARCHAR" />
    <result column="entryPact" property="entrypact" jdbcType="VARCHAR" />
    <result column="proxyPact" property="proxypact" jdbcType="VARCHAR" />
    <result column="skillPromise" property="skillpromise" jdbcType="VARCHAR" />
    <result column="housePact" property="housepact" jdbcType="VARCHAR" />
    <result column="exitPact" property="exitpact" jdbcType="VARCHAR" />
    <result column="skillPact" property="skillpact" jdbcType="VARCHAR" />
    <result column="iou" property="iou" jdbcType="VARCHAR" />
    <result column="practicePact" property="practicepact" jdbcType="VARCHAR" />
    <result column="ensurePact" property="ensurepact" jdbcType="VARCHAR" />
    <result column="agreePact" property="agreepact" jdbcType="VARCHAR" />
    <result column="declarePact" property="declarepact" jdbcType="VARCHAR" />
    <result column="lawyerPact" property="lawyerpact" jdbcType="VARCHAR" />
    <result column="inquiryPact" property="inquirypact" jdbcType="VARCHAR" />
    <result column="confirmPact" property="confirmpact" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createUser" property="createuser" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, stuId, entryPact, proxyPact, skillPromise, housePact, exitPact, skillPact, 
    iou, practicePact, ensurePact, agreePact, declarePact, lawyerPact, inquiryPact, confirmPact, 
    comment, createUser, createDate, updateUser, updateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from contract
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from contract
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.bf.po.Contract" >
    insert into contract (uuid, stuId, entryPact, 
      proxyPact, skillPromise, housePact, 
      exitPact, skillPact, iou, 
      practicePact, ensurePact, agreePact, 
      declarePact, lawyerPact, inquiryPact, 
      confirmPact, comment, createUser, 
      createDate, updateUser, updateDate
      )
    values (#{uuid,jdbcType=VARCHAR}, #{stuid,jdbcType=VARCHAR}, #{entrypact,jdbcType=VARCHAR}, 
      #{proxypact,jdbcType=VARCHAR}, #{skillpromise,jdbcType=VARCHAR}, #{housepact,jdbcType=VARCHAR}, 
      #{exitpact,jdbcType=VARCHAR}, #{skillpact,jdbcType=VARCHAR}, #{iou,jdbcType=VARCHAR}, 
      #{practicepact,jdbcType=VARCHAR}, #{ensurepact,jdbcType=VARCHAR}, #{agreepact,jdbcType=VARCHAR}, 
      #{declarepact,jdbcType=VARCHAR}, #{lawyerpact,jdbcType=VARCHAR}, #{inquirypact,jdbcType=VARCHAR}, 
      #{confirmpact,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bf.po.Contract" >
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="stuid != null" >
        stuId,
      </if>
      <if test="entrypact != null" >
        entryPact,
      </if>
      <if test="proxypact != null" >
        proxyPact,
      </if>
      <if test="skillpromise != null" >
        skillPromise,
      </if>
      <if test="housepact != null" >
        housePact,
      </if>
      <if test="exitpact != null" >
        exitPact,
      </if>
      <if test="skillpact != null" >
        skillPact,
      </if>
      <if test="iou != null" >
        iou,
      </if>
      <if test="practicepact != null" >
        practicePact,
      </if>
      <if test="ensurepact != null" >
        ensurePact,
      </if>
      <if test="agreepact != null" >
        agreePact,
      </if>
      <if test="declarepact != null" >
        declarePact,
      </if>
      <if test="lawyerpact != null" >
        lawyerPact,
      </if>
      <if test="inquirypact != null" >
        inquiryPact,
      </if>
      <if test="confirmpact != null" >
        confirmPact,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="entrypact != null" >
        #{entrypact,jdbcType=VARCHAR},
      </if>
      <if test="proxypact != null" >
        #{proxypact,jdbcType=VARCHAR},
      </if>
      <if test="skillpromise != null" >
        #{skillpromise,jdbcType=VARCHAR},
      </if>
      <if test="housepact != null" >
        #{housepact,jdbcType=VARCHAR},
      </if>
      <if test="exitpact != null" >
        #{exitpact,jdbcType=VARCHAR},
      </if>
      <if test="skillpact != null" >
        #{skillpact,jdbcType=VARCHAR},
      </if>
      <if test="iou != null" >
        #{iou,jdbcType=VARCHAR},
      </if>
      <if test="practicepact != null" >
        #{practicepact,jdbcType=VARCHAR},
      </if>
      <if test="ensurepact != null" >
        #{ensurepact,jdbcType=VARCHAR},
      </if>
      <if test="agreepact != null" >
        #{agreepact,jdbcType=VARCHAR},
      </if>
      <if test="declarepact != null" >
        #{declarepact,jdbcType=VARCHAR},
      </if>
      <if test="lawyerpact != null" >
        #{lawyerpact,jdbcType=VARCHAR},
      </if>
      <if test="inquirypact != null" >
        #{inquirypact,jdbcType=VARCHAR},
      </if>
      <if test="confirmpact != null" >
        #{confirmpact,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.Contract" >
    update contract
    <set >
      <if test="stuid != null" >
        stuId = #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="entrypact != null" >
        entryPact = #{entrypact,jdbcType=VARCHAR},
      </if>
      <if test="proxypact != null" >
        proxyPact = #{proxypact,jdbcType=VARCHAR},
      </if>
      <if test="skillpromise != null" >
        skillPromise = #{skillpromise,jdbcType=VARCHAR},
      </if>
      <if test="housepact != null" >
        housePact = #{housepact,jdbcType=VARCHAR},
      </if>
      <if test="exitpact != null" >
        exitPact = #{exitpact,jdbcType=VARCHAR},
      </if>
      <if test="skillpact != null" >
        skillPact = #{skillpact,jdbcType=VARCHAR},
      </if>
      <if test="iou != null" >
        iou = #{iou,jdbcType=VARCHAR},
      </if>
      <if test="practicepact != null" >
        practicePact = #{practicepact,jdbcType=VARCHAR},
      </if>
      <if test="ensurepact != null" >
        ensurePact = #{ensurepact,jdbcType=VARCHAR},
      </if>
      <if test="agreepact != null" >
        agreePact = #{agreepact,jdbcType=VARCHAR},
      </if>
      <if test="declarepact != null" >
        declarePact = #{declarepact,jdbcType=VARCHAR},
      </if>
      <if test="lawyerpact != null" >
        lawyerPact = #{lawyerpact,jdbcType=VARCHAR},
      </if>
      <if test="inquirypact != null" >
        inquiryPact = #{inquirypact,jdbcType=VARCHAR},
      </if>
      <if test="confirmpact != null" >
        confirmPact = #{confirmpact,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bf.po.Contract" >
    update contract
    set stuId = #{stuid,jdbcType=VARCHAR},
      entryPact = #{entrypact,jdbcType=VARCHAR},
      proxyPact = #{proxypact,jdbcType=VARCHAR},
      skillPromise = #{skillpromise,jdbcType=VARCHAR},
      housePact = #{housepact,jdbcType=VARCHAR},
      exitPact = #{exitpact,jdbcType=VARCHAR},
      skillPact = #{skillpact,jdbcType=VARCHAR},
      iou = #{iou,jdbcType=VARCHAR},
      practicePact = #{practicepact,jdbcType=VARCHAR},
      ensurePact = #{ensurepact,jdbcType=VARCHAR},
      agreePact = #{agreepact,jdbcType=VARCHAR},
      declarePact = #{declarepact,jdbcType=VARCHAR},
      lawyerPact = #{lawyerpact,jdbcType=VARCHAR},
      inquiryPact = #{inquirypact,jdbcType=VARCHAR},
      confirmPact = #{confirmpact,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>