<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.GroupCompanyMapper" >
  <resultMap id="BaseResultMap" type="cn.bf.po.GroupCompany" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="groupId" property="groupid" jdbcType="VARCHAR" />
    <result column="companyId" property="companyid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, groupId, companyId
  </sql>

	<sql id="insertColumn">
		#{uuid},
		#{groupId},
		#{companyId}
	</sql>

	<!-- 增加一条数据 -->
	<select id="insertGroupCompany" parameterType="java.util.Map">
		insert into groupcompany values(
			<include refid="insertColumn" />
		)
	</select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GroupCompany
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GroupCompany
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.bf.po.GroupCompany" >
    insert into GroupCompany (uuid, groupId, companyId
      )
    values (#{uuid,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{companyid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bf.po.GroupCompany" >
    insert into GroupCompany
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.GroupCompany" >
    update GroupCompany
    <set >
      <if test="groupid != null" >
        groupId = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bf.po.GroupCompany" >
    update GroupCompany
    set groupId = #{groupid,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>