<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="cn.bf.po.Group" >
    <id column="groupId" property="groupid" jdbcType="VARCHAR" />
    <result column="groupNum" property="groupnum" jdbcType="VARCHAR" />
    <result column="groupName" property="groupname" jdbcType="VARCHAR" />
    <result column="groupContacts" property="groupcontacts" jdbcType="VARCHAR" />
    <result column="groupAddress" property="groupaddress" jdbcType="VARCHAR" />
    <result column="groupPhone" property="groupphone" jdbcType="VARCHAR" />
    <result column="groupEmail" property="groupemail" jdbcType="VARCHAR" />
    <result column="groupFax" property="groupfax" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createUser" property="createuser" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    groupId, groupNum, groupName, groupContacts, groupAddress, groupPhone, groupEmail, 
    groupFax, comment, createUser, createDate, updateUser, updateDate
  </sql>
  


	<sql id="updateColumn">
		<set>
				<if test="groupName != null and groupName != ''">
					groupName = #{groupName},
				</if>
				<if test="groupContacts != null">
					groupContacts = #{groupContacts},
				</if>
				<if test="groupAddress != null">
					groupAddress = #{groupAddress},
				</if>
				<if test="groupPhone != null">
					groupPhone = #{groupPhone},
				</if>
				<if test="groupEmail != null">
					groupEmail = #{groupEmail},
				</if>
				<if test="groupFax != null">
					groupFax = #{groupFax},
				</if>
				<if test="comment != null">
					comment = #{comment},
				</if>
				<if test="updateUser != null and updateUser != ''">
					updateUser = #{updateUser},
				</if>
				<if test="updateDate != null">
					updateDate = #{updateDate},
				</if>
		</set>
	</sql>
	
	<sql id="insertColumn">
		#{groupId},
		#{groupNum},
		#{groupName},
		#{groupContacts},
		#{groupAddress},
		#{groupPhone},
		#{groupEmail},
		#{groupFax},
		#{comment},
		#{createUser},
		#{createDate},
		#{updateUser},
		#{updateDate}
	</sql>
	
	<!-- 根据组合ID删除组合 -->
	<select id="deleteGroupByGroupId" parameterType="cn.bf.po.Group">
		delete from `group` where groupId = #{groupId}
	</select>
	
	<!-- 根据主键修改组合 -->
	<select id="updateGroupByGroupId" parameterType="cn.bf.po.Group">
		update `group`
		<include refid="updateColumn" />
		where groupId = #{groupId}
	</select>
	
	<!-- 查询分页信息 -->
	<select id="findGroupPageList" parameterType="java.util.Map" resultType="cn.bf.po.Group">
		select * from `group`
		order by groupNum
		limit #{page}, #{rows}
	</select>
	
	<!-- 根据主键查询单个组合 -->
	<select id="selectGroupByGroupId" parameterType="java.lang.String" resultType="cn.bf.po.Group">
		select * from `group` where groupId = #{groupId}
	</select>
	
	<!-- 获取全部组合信息 -->
	<select id="selectGroupList" resultType="cn.bf.po.Group">
		select * from `group` order by groupNum
	</select>
	  
	<!-- 增加组合 -->
	<select id="insertGroup" parameterType="cn.bf.po.Group">
		insert into `group` values (
			<include refid="insertColumn" />
		)
	</select>
	
	<!-- 查询最大的企业编号 -->
	<select id="selectMaxGroupNum" resultType="java.lang.Integer">
		select max(groupNum) from `group`
	</select>
 
	<!-- 查询组合数量 -->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(groupId) from `group`;
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from group
    where groupId = #{groupid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from group
    where groupId = #{groupid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.bf.po.Group" >
    insert into group (groupId, groupNum, groupName, 
      groupContacts, groupAddress, groupPhone, 
      groupEmail, groupFax, comment, 
      createUser, createDate, updateUser, 
      updateDate)
    values (#{groupid,jdbcType=VARCHAR}, #{groupnum,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, 
      #{groupcontacts,jdbcType=VARCHAR}, #{groupaddress,jdbcType=VARCHAR}, #{groupphone,jdbcType=VARCHAR}, 
      #{groupemail,jdbcType=VARCHAR}, #{groupfax,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.bf.po.Group" >
    insert into group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="groupnum != null" >
        groupNum,
      </if>
      <if test="groupname != null" >
        groupName,
      </if>
      <if test="groupcontacts != null" >
        groupContacts,
      </if>
      <if test="groupaddress != null" >
        groupAddress,
      </if>
      <if test="groupphone != null" >
        groupPhone,
      </if>
      <if test="groupemail != null" >
        groupEmail,
      </if>
      <if test="groupfax != null" >
        groupFax,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupnum != null" >
        #{groupnum,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupcontacts != null" >
        #{groupcontacts,jdbcType=VARCHAR},
      </if>
      <if test="groupaddress != null" >
        #{groupaddress,jdbcType=VARCHAR},
      </if>
      <if test="groupphone != null" >
        #{groupphone,jdbcType=VARCHAR},
      </if>
      <if test="groupemail != null" >
        #{groupemail,jdbcType=VARCHAR},
      </if>
      <if test="groupfax != null" >
        #{groupfax,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.Group" >
    update group
    <set >
      <if test="groupnum != null" >
        groupNum = #{groupnum,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null" >
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="groupcontacts != null" >
        groupContacts = #{groupcontacts,jdbcType=VARCHAR},
      </if>
      <if test="groupaddress != null" >
        groupAddress = #{groupaddress,jdbcType=VARCHAR},
      </if>
      <if test="groupphone != null" >
        groupPhone = #{groupphone,jdbcType=VARCHAR},
      </if>
      <if test="groupemail != null" >
        groupEmail = #{groupemail,jdbcType=VARCHAR},
      </if>
      <if test="groupfax != null" >
        groupFax = #{groupfax,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where groupId = #{groupid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bf.po.Group" >
    update group
    set groupNum = #{groupnum,jdbcType=VARCHAR},
      groupName = #{groupname,jdbcType=VARCHAR},
      groupContacts = #{groupcontacts,jdbcType=VARCHAR},
      groupAddress = #{groupaddress,jdbcType=VARCHAR},
      groupPhone = #{groupphone,jdbcType=VARCHAR},
      groupEmail = #{groupemail,jdbcType=VARCHAR},
      groupFax = #{groupfax,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where groupId = #{groupid,jdbcType=VARCHAR}
  </update>
</mapper>