<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.ManageRequestMapper" >
  <resultMap id="BaseResultMap" type="cn.bf.po.ManageRequest" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="stuId" property="stuid" jdbcType="VARCHAR" />
    <result column="interval" property="interval" jdbcType="INTEGER" />
    <result column="sendDate" property="senddate" jdbcType="DATE" />
    <result column="groupId" property="groupid" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="companyId" property="companyid" jdbcType="VARCHAR" />
    <result column="backDate" property="backdate" jdbcType="DATE" />
    <result column="dateStart" property="datestart" jdbcType="DATE" />
    <result column="dateEnd" property="dateend" jdbcType="DATE" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="amount" property="amount" jdbcType="REAL" />
    <result column="debt" property="debt" jdbcType="REAL" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createUser" property="createuser" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, stuId, interval, sendDate, groupId, category, companyId, backDate, dateStart, 
    dateEnd, count, price, amount, debt, comment, createUser, createDate, updateUser, 
    updateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ManageRequest
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ManageRequest
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.bf.po.ManageRequest" >
    insert into ManageRequest (uuid, stuId, interval, 
      sendDate, groupId, category, 
      companyId, backDate, dateStart, 
      dateEnd, count, price, amount, 
      debt, comment, createUser, 
      createDate, updateUser, updateDate
      )
    values (#{uuid,jdbcType=VARCHAR}, #{stuid,jdbcType=VARCHAR}, #{interval,jdbcType=INTEGER}, 
      #{senddate,jdbcType=DATE}, #{groupid,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{companyid,jdbcType=VARCHAR}, #{backdate,jdbcType=DATE}, #{datestart,jdbcType=DATE}, 
      #{dateend,jdbcType=DATE}, #{count,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{amount,jdbcType=REAL}, 
      #{debt,jdbcType=REAL}, #{comment,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bf.po.ManageRequest" >
    insert into ManageRequest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="stuid != null" >
        stuId,
      </if>
      <if test="interval != null" >
        interval,
      </if>
      <if test="senddate != null" >
        sendDate,
      </if>
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="backdate != null" >
        backDate,
      </if>
      <if test="datestart != null" >
        dateStart,
      </if>
      <if test="dateend != null" >
        dateEnd,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="debt != null" >
        debt,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="interval != null" >
        #{interval,jdbcType=INTEGER},
      </if>
      <if test="senddate != null" >
        #{senddate,jdbcType=DATE},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="backdate != null" >
        #{backdate,jdbcType=DATE},
      </if>
      <if test="datestart != null" >
        #{datestart,jdbcType=DATE},
      </if>
      <if test="dateend != null" >
        #{dateend,jdbcType=DATE},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=REAL},
      </if>
      <if test="debt != null" >
        #{debt,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.ManageRequest" >
    update ManageRequest
    <set >
      <if test="stuid != null" >
        stuId = #{stuid,jdbcType=VARCHAR},
      </if>
      <if test="interval != null" >
        interval = #{interval,jdbcType=INTEGER},
      </if>
      <if test="senddate != null" >
        sendDate = #{senddate,jdbcType=DATE},
      </if>
      <if test="groupid != null" >
        groupId = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="backdate != null" >
        backDate = #{backdate,jdbcType=DATE},
      </if>
      <if test="datestart != null" >
        dateStart = #{datestart,jdbcType=DATE},
      </if>
      <if test="dateend != null" >
        dateEnd = #{dateend,jdbcType=DATE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="debt != null" >
        debt = #{debt,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bf.po.ManageRequest" >
    update ManageRequest
    set stuId = #{stuid,jdbcType=VARCHAR},
      interval = #{interval,jdbcType=INTEGER},
      sendDate = #{senddate,jdbcType=DATE},
      groupId = #{groupid,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=VARCHAR},
      backDate = #{backdate,jdbcType=DATE},
      dateStart = #{datestart,jdbcType=DATE},
      dateEnd = #{dateend,jdbcType=DATE},
      count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=REAL},
      debt = #{debt,jdbcType=REAL},
      comment = #{comment,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>