<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bf.dao.SysUserMapper">
	
	<resultMap id="BaseResultMap" type="cn.bf.po.SysUser">
		<id column="SysUserId" property="SysUserid" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="regTime" property="regTime" jdbcType="TIMESTAMP" />
		<result column="regIp" property="regIp" jdbcType="VARCHAR" />
		<result column="lastLoginTime" property="lastLoginTime"
			jdbcType="TIMESTAMP" />
		<result column="lastLoginErrTime" property="lastLoginErrTime"
			jdbcType="TIMESTAMP" />
		<result column="lastLoginIp" property="lastLoginIp" jdbcType="VARCHAR" />
		<result column="userType" property="userType" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="createUser" property="createUser" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
	<!-- 根据账号查询用户 -->
	<select id="selectSysUserByAccount" parameterType="java.lang.String" resultType="cn.bf.po.SysUser">
		select * from SysUser where account = #{account}
	</select>
	
	<!-- 查询菜单 -->
	<select id="findMenuListBySysUserId" parameterType="java.lang.String" resultType="cn.bf.po.SysPermission">
		
	</select>
	
	
	
	<!-- 
	<sql id="Base_Column_List">
		SysUserId, account, username, password, salt, tel, email, regTime, regIp,
		lastLoginTime,
		lastLoginErrTime, lastLoginIp, userType, status, comment, createUser, createDate,
		updateUser, updateDate
	</sql> -->
	
	
	<!-- 
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from SysUser
		where SysUserId = #{SysUserid,jdbcType=VARCHAR}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SysUser
		where SysUserId = #{SysUserid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.bf.po.SysUser">
		insert into SysUser (SysUserId, account, username,
		password, salt, tel,
		email, regTime, regIp,
		lastLoginTime, lastLoginErrTime, lastLoginIp,
		userType, status, comment,
		createUser, createDate, updateUser,
		updateDate)
		values (#{SysUserid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{regtime,jdbcType=TIMESTAMP},
		#{regip,jdbcType=VARCHAR},
		#{lastlogintime,jdbcType=TIMESTAMP}, #{lastloginerrtime,jdbcType=TIMESTAMP},
		#{lastloginip,jdbcType=VARCHAR},
		#{usertype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
		#{createuser,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP},
		#{updateuser,jdbcType=VARCHAR},
		#{updatedate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.bf.po.SysUser">
		insert into SysUser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="SysUserid != null">
				SysUserId,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="regtime != null">
				regTime,
			</if>
			<if test="regip != null">
				regIp,
			</if>
			<if test="lastlogintime != null">
				lastLoginTime,
			</if>
			<if test="lastloginerrtime != null">
				lastLoginErrTime,
			</if>
			<if test="lastloginip != null">
				lastLoginIp,
			</if>
			<if test="usertype != null">
				userType,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="createuser != null">
				createUser,
			</if>
			<if test="createdate != null">
				createDate,
			</if>
			<if test="updateuser != null">
				updateUser,
			</if>
			<if test="updatedate != null">
				updateDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="SysUserid != null">
				#{SysUserid,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=TIMESTAMP},
			</if>
			<if test="regip != null">
				#{regip,jdbcType=VARCHAR},
			</if>
			<if test="lastlogintime != null">
				#{lastlogintime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastloginerrtime != null">
				#{lastloginerrtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastloginip != null">
				#{lastloginip,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				#{usertype,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="createuser != null">
				#{createuser,jdbcType=VARCHAR},
			</if>
			<if test="createdate != null">
				#{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateuser != null">
				#{updateuser,jdbcType=VARCHAR},
			</if>
			<if test="updatedate != null">
				#{updatedate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.bf.po.SysUser">
		update SysUser
		<set>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regTime = #{regtime,jdbcType=TIMESTAMP},
			</if>
			<if test="regip != null">
				regIp = #{regip,jdbcType=VARCHAR},
			</if>
			<if test="lastlogintime != null">
				lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastloginerrtime != null">
				lastLoginErrTime = #{lastloginerrtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastloginip != null">
				lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				userType = #{usertype,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
			<if test="createuser != null">
				createUser = #{createuser,jdbcType=VARCHAR},
			</if>
			<if test="createdate != null">
				createDate = #{createdate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateuser != null">
				updateUser = #{updateuser,jdbcType=VARCHAR},
			</if>
			<if test="updatedate != null">
				updateDate = #{updatedate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where SysUserId = #{SysUserid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.bf.po.SysUser">
		update SysUser
		set account = #{account,jdbcType=VARCHAR},
		username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		regTime = #{regtime,jdbcType=TIMESTAMP},
		regIp = #{regip,jdbcType=VARCHAR},
		lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
		lastLoginErrTime = #{lastloginerrtime,jdbcType=TIMESTAMP},
		lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
		userType = #{usertype,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		comment = #{comment,jdbcType=VARCHAR},
		createUser = #{createuser,jdbcType=VARCHAR},
		createDate = #{createdate,jdbcType=TIMESTAMP},
		updateUser = #{updateuser,jdbcType=VARCHAR},
		updateDate = #{updatedate,jdbcType=TIMESTAMP}
		where SysUserId = #{SysUserid,jdbcType=VARCHAR}
	</update> -->
</mapper>