.panel-body {
	padding: 0px;
}

scrollbar {
	width: 8;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
	display: none;
}
/*隐藏input[type=number]中的上下小箭头*/
input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button{
	    -webkit-appearance: none !important;
	    margin: 0; 
	}