#login_title {
	font-size: 36px;
	text-align: center;
	margin: 45px auto;
	color: white;
}
#login_box {
	margin: 80px auto;
	margin-bottom: 0px;
	width: 600px;
	height:300px;
	border: 1px dashed #CCC;
}

#f {
	width: 300px;
	margin-left:30%;
	margin-top: 4%;
	display: inline-block;
}

#f>div {
	margin-top: 20px;
}
#f>div>span {
	display: inline-block;
	width: 50px;
}
